<h1><strong>Welcome to the monitoring system</strong></h1>
<p><strong>brought to you by <a href="https://www.blunix.com" target="_blank" rel="noopener">Bl<span style="color: #3366ff;">unix</span></a><br /></strong></p>
<p>&nbsp;</p>
<p><strong>Please select the component:</strong></p>
<p>

    <a title="Prometheus Server" href="/prometheus"><strong>Prometheus Server</strong></a></br>
    View metrics collected from client servers and review rules for those metrics (retention: one month)</br></br>

    <a title="Prometheus Downsampling" href="/downsampling"><strong>Prometheus Downsampling</strong></a></br>
    View metrics aggregated for long term storage (retention: three years)</br></br>

    <a title="Prometheus Alertmanager" href="/alertmanager"><strong>Prometheus Alertmanager</strong></a></br>
    View and silence alerts (default)</br></br>

    <a title="Prometheus Alertmanager (Karma)" href="/karma"><strong>Prometheus Alertmanager (Karma)</strong></a></br>
    View and silence alerts (pretty)</br></br>

    <a title="Grafana" href="/grafana"><strong>Grafana</strong></a></br>
    View dashboards vizualizing prometheus metrics

</p>
